{% extends "::base.html.twig" %}

{% block title %}ZhvilluesDatabaseTestBundle:Page:about{% endblock %}

{% block body %}
<h1>Welcome to the Page:about page</h1>

<ul>
<li> <a href="{{path('joke')}}">See Projects</a></li>
</ul>

{% endblock %}
